root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
quote_type = single
object-curly-newline=false
trailing_comma=true

[*.md]
trim_trailing_whitespace = false
